SERVER_ENV="development"

# Database
DATABASE_URL="postgresql://%productname%:%productname%@localhost:5432/%productname%"

# Storage (Not required in local environments)
#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""
#CLOUDFLARE_ACCOUNT_ID="" # Required for Cloudflare R2
